USE [StudentDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Subject] [nvarchar](100) NULL,
	[StudentClass] [nvarchar](50) NULL,
	[DueDate] [datetime] NULL,
	[AttachmentPath] [nvarchar](300) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentSubmission]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentSubmission](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[FilePath] [nvarchar](500) NULL,
	[SubmissionDate] [datetime] NULL,
	[SubmittedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[InTime] [time](7) NULL,
	[OutTime] [time](7) NULL,
	[IsPresent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](200) NULL,
	[Author] [varchar](100) NULL,
	[Subject] [varchar](100) NULL,
	[TotalCopies] [int] NULL,
	[AvailableCopies] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookIssued]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssued](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Returned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [varchar](100) NULL,
	[ExamDate] [datetime] NULL,
	[StudentClass] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResult]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResult](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NULL,
	[StudentId] [int] NULL,
	[Subject] [varchar](50) NULL,
	[MarksObtained] [int] NULL,
	[MaxMarks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeePayment]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeePayment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[FeeId] [int] NULL,
	[AmountPaid] [decimal](10, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeStructure]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeStructure](
	[FeeId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[AcademicYear] [varchar](20) NULL,
	[TotalFee] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[NoticeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PublishDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[StudentID] [int] NOT NULL,
	[FatherName] [nvarchar](100) NOT NULL,
	[FOccupation] [nvarchar](100) NOT NULL,
	[FMobileno] [varchar](10) NOT NULL,
	[MotherName] [nvarchar](100) NOT NULL,
	[MOccupation] [nvarchar](100) NOT NULL,
	[MMobileno] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetRequest]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetRequest](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[RequestDate] [datetime] NULL,
	[IsProcessed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryPayment]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryPayment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[SalaryId] [int] NOT NULL,
	[PaymentMonth] [int] NOT NULL,
	[PaymentYear] [int] NULL,
	[GrossSalary] [decimal](10, 2) NULL,
	[PaidDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalarySlip]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalarySlip](
	[SlipId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[GeneratedDate] [datetime] NOT NULL,
	[PdfPath] [nvarchar](500) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryStructure]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryStructure](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[BasicSalary] [decimal](10, 2) NOT NULL,
	[HRA] [decimal](10, 2) NULL,
	[DA] [decimal](10, 2) NULL,
	[OtherAllowance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](100) NULL,
	[DateJoined] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[PresentAddress] [nvarchar](max) NOT NULL,
	[StudentClass] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[StudentClass] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[TimetableId] [int] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](20) NULL,
	[DayOfWeek] [nvarchar](20) NULL,
	[PeriodNo] [int] NULL,
	[Subject] [nvarchar](50) NULL,
	[TeacherName] [nvarchar](50) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimetableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25-06-2026 11:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[FailedLoginAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
	[StudentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignment] ON 

INSERT [dbo].[Assignment] ([AssignmentId], [Title], [Description], [Subject], [StudentClass], [DueDate], [AttachmentPath], [CreatedBy], [CreatedDate]) VALUES (2, N'sample assignment', N'IT DOES NOT HAVE A DESCRIPTION.
', N'subjected', N'0', CAST(N'2026-06-28T00:00:00.000' AS DateTime), N'/Uploads/Assignments/aae0e261-aefd-410f-88f4-67de2d6b8284.jpg', N'aditjohn', CAST(N'2026-06-16T13:47:28.683' AS DateTime))
INSERT [dbo].[Assignment] ([AssignmentId], [Title], [Description], [Subject], [StudentClass], [DueDate], [AttachmentPath], [CreatedBy], [CreatedDate]) VALUES (3, N'partial differential equations', N'solve these differential equations on your record.', N'multivariable calculus', N'3 sem', CAST(N'2026-06-19T00:00:00.000' AS DateTime), N'/Uploads/Assignments/ccbfcc76-9bd1-498a-8a43-4823a114a43d.jpeg', N'aditjohn', CAST(N'2026-06-16T17:56:43.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[Assignment] OFF
GO
SET IDENTITY_INSERT [dbo].[AssignmentSubmission] ON 

INSERT [dbo].[AssignmentSubmission] ([SubmissionId], [AssignmentId], [FilePath], [SubmissionDate], [SubmittedBy]) VALUES (5, 2, N'/Uploads/AssignmentSubmissions/99a5a869-2f6d-4229-949c-8e4f07a1386c.jpg', CAST(N'2026-06-17T10:39:00.417' AS DateTime), N'parent')
INSERT [dbo].[AssignmentSubmission] ([SubmissionId], [AssignmentId], [FilePath], [SubmissionDate], [SubmittedBy]) VALUES (6, 3, N'/Uploads/AssignmentSubmissions/d9c628e3-3258-4ef4-b30b-7deabafab492.jpeg', CAST(N'2026-06-17T10:33:52.350' AS DateTime), N'parent6')
INSERT [dbo].[AssignmentSubmission] ([SubmissionId], [AssignmentId], [FilePath], [SubmissionDate], [SubmittedBy]) VALUES (7, 2, N'/Uploads/AssignmentSubmissions/dd75319f-6b5b-4e8a-807e-516a1f03726b.jpeg', CAST(N'2026-06-17T09:18:17.233' AS DateTime), N'parent6')
SET IDENTITY_INSERT [dbo].[AssignmentSubmission] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([Id], [StudentId], [AttendanceDate], [InTime], [OutTime], [IsPresent]) VALUES (2, 16, CAST(N'2026-06-19' AS Date), CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 0)
INSERT [dbo].[Attendance] ([Id], [StudentId], [AttendanceDate], [InTime], [OutTime], [IsPresent]) VALUES (1002, 11, CAST(N'2026-06-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1)
INSERT [dbo].[Attendance] ([Id], [StudentId], [AttendanceDate], [InTime], [OutTime], [IsPresent]) VALUES (1003, 23, CAST(N'2026-06-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [BookName], [Author], [Subject], [TotalCopies], [AvailableCopies]) VALUES (1, N'Let Us C', N'Yashavant Kanetkar', N'Programming', 10, 9)
INSERT [dbo].[Book] ([BookId], [BookName], [Author], [Subject], [TotalCopies], [AvailableCopies]) VALUES (2, N'Computer Fundamentals', N'P.K. Sinha', N'Computer', 8, 8)
INSERT [dbo].[Book] ([BookId], [BookName], [Author], [Subject], [TotalCopies], [AvailableCopies]) VALUES (3, N'Data Structures', N'Seymour Lipschutz', N'DSA', 5, 5)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookIssued] ON 

INSERT [dbo].[BookIssued] ([IssueId], [StudentId], [BookId], [IssueDate], [DueDate], [Returned]) VALUES (1, 5, 7, CAST(N'2026-06-05T11:19:58.453' AS DateTime), CAST(N'2026-06-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[BookIssued] ([IssueId], [StudentId], [BookId], [IssueDate], [DueDate], [Returned]) VALUES (2, 5, 5, CAST(N'2026-06-05T11:20:25.997' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[BookIssued] ([IssueId], [StudentId], [BookId], [IssueDate], [DueDate], [Returned]) VALUES (3, 5, 2, CAST(N'2026-06-05T11:21:20.707' AS DateTime), CAST(N'2026-06-19T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BookIssued] OFF
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([ExamId], [ExamName], [ExamDate], [StudentClass], [CreatedDate]) VALUES (1008, N'mid term', CAST(N'2026-09-17T00:00:00.000' AS DateTime), N'7', CAST(N'2026-06-17T16:45:13.710' AS DateTime))
INSERT [dbo].[Exam] ([ExamId], [ExamName], [ExamDate], [StudentClass], [CreatedDate]) VALUES (1009, N'final term', CAST(N'2027-02-22T00:00:00.000' AS DateTime), N'7', CAST(N'2026-06-17T16:45:34.253' AS DateTime))
INSERT [dbo].[Exam] ([ExamId], [ExamName], [ExamDate], [StudentClass], [CreatedDate]) VALUES (1010, N'final term', CAST(N'2026-06-20T00:00:00.000' AS DateTime), N'9', CAST(N'2026-06-18T12:32:43.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamResult] ON 

INSERT [dbo].[ExamResult] ([ResultId], [ExamId], [StudentId], [Subject], [MarksObtained], [MaxMarks]) VALUES (1, 1008, 14, N'English', 70, 100)
INSERT [dbo].[ExamResult] ([ResultId], [ExamId], [StudentId], [Subject], [MarksObtained], [MaxMarks]) VALUES (2, 1009, 16, N'English', 12, 100)
INSERT [dbo].[ExamResult] ([ResultId], [ExamId], [StudentId], [Subject], [MarksObtained], [MaxMarks]) VALUES (3, 1009, 14, N'English', 42, 100)
SET IDENTITY_INSERT [dbo].[ExamResult] OFF
GO
SET IDENTITY_INSERT [dbo].[FeePayment] ON 

INSERT [dbo].[FeePayment] ([PaymentId], [FeeId], [AmountPaid], [PaymentDate], [PaymentMode]) VALUES (1, 1, CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-06-19T09:53:23.157' AS DateTime), N'Card')
INSERT [dbo].[FeePayment] ([PaymentId], [FeeId], [AmountPaid], [PaymentDate], [PaymentMode]) VALUES (2, 2, CAST(20000.00 AS Decimal(10, 2)), CAST(N'2026-06-19T10:16:32.490' AS DateTime), N'Cash')
INSERT [dbo].[FeePayment] ([PaymentId], [FeeId], [AmountPaid], [PaymentDate], [PaymentMode]) VALUES (3, 2, CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-06-19T10:17:08.700' AS DateTime), N'UPI')
SET IDENTITY_INSERT [dbo].[FeePayment] OFF
GO
SET IDENTITY_INSERT [dbo].[FeeStructure] ON 

INSERT [dbo].[FeeStructure] ([FeeId], [StudentId], [AcademicYear], [TotalFee]) VALUES (1, 16, N'2025-2026', CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[FeeStructure] ([FeeId], [StudentId], [AcademicYear], [TotalFee]) VALUES (2, 15, N'2025-2026', CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[FeeStructure] ([FeeId], [StudentId], [AcademicYear], [TotalFee]) VALUES (4, 12, N'2023-2024', CAST(70000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[FeeStructure] OFF
GO
SET IDENTITY_INSERT [dbo].[Notice] ON 

INSERT [dbo].[Notice] ([NoticeId], [Title], [Description], [PublishDate], [ExpiryDate], [CreatedBy], [IsActive]) VALUES (1, N'Parent Teacher Meeting(June)', N'Parent Teacher Meeting(PTM) will be held on 13/06/2026(Saturday) from 8:00-2:00pm for classes Nursery-XII. Each ward has to come with his/her at least one parent.', CAST(N'2026-06-05T00:00:00.000' AS DateTime), CAST(N'2026-06-17T00:00:00.000' AS DateTime), N'Principal', 1)
INSERT [dbo].[Notice] ([NoticeId], [Title], [Description], [PublishDate], [ExpiryDate], [CreatedBy], [IsActive]) VALUES (3, N'Notice', N'This is a sample notice.', CAST(N'2026-06-09T00:00:00.000' AS DateTime), CAST(N'2026-06-10T00:00:00.000' AS DateTime), N'sf', 1)
INSERT [dbo].[Notice] ([NoticeId], [Title], [Description], [PublishDate], [ExpiryDate], [CreatedBy], [IsActive]) VALUES (4, N'title ', N'desrcinbgjebkjrqbfobbbbbbbbbbbbbbbbbbbbbbbbbwejjjjjjjjjjjjjjjewwnoc [[[]]]]]]][[[[[[[[[[[[[[[[sdnvcnnnnnnnnnnnnnnnnnnnnnnnnnnn{{{{{{{{{{}}}}}}}}}}}kjnjsabcijhdwuvciuewub~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`~`', CAST(N'2026-06-12T00:00:00.000' AS DateTime), CAST(N'2026-06-26T00:00:00.000' AS DateTime), N'toynsl', 0)
SET IDENTITY_INSERT [dbo].[Notice] OFF
GO
INSERT [dbo].[Parent] ([StudentID], [FatherName], [FOccupation], [FMobileno], [MotherName], [MOccupation], [MMobileno]) VALUES (5, N'dcs', N'dc', N'7777777777', N'bc', N'xc', N'3245243543')
INSERT [dbo].[Parent] ([StudentID], [FatherName], [FOccupation], [FMobileno], [MotherName], [MOccupation], [MMobileno]) VALUES (6, N'liiuyliuu', N'wt', N'4326376173', N'vbmn', N'yui', N'9898899821')
INSERT [dbo].[Parent] ([StudentID], [FatherName], [FOccupation], [FMobileno], [MotherName], [MOccupation], [MMobileno]) VALUES (21, N'qundcp', N'tunbivf', N'4365643664', N'mofbve', N'ujghd', N'4365643646')
GO
SET IDENTITY_INSERT [dbo].[PasswordResetRequest] ON 

INSERT [dbo].[PasswordResetRequest] ([RequestId], [Username], [RequestDate], [IsProcessed]) VALUES (2, N'teacher', CAST(N'2026-06-17T12:12:13.587' AS DateTime), 1)
INSERT [dbo].[PasswordResetRequest] ([RequestId], [Username], [RequestDate], [IsProcessed]) VALUES (4, N'nik12', CAST(N'2026-06-22T16:10:42.317' AS DateTime), 1)
INSERT [dbo].[PasswordResetRequest] ([RequestId], [Username], [RequestDate], [IsProcessed]) VALUES (5, N'nik12', CAST(N'2026-06-22T16:12:10.367' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PasswordResetRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryPayment] ON 

INSERT [dbo].[SalaryPayment] ([PaymentId], [SalaryId], [PaymentMonth], [PaymentYear], [GrossSalary], [PaidDate]) VALUES (1, 1, 6, 2026, CAST(38000.00 AS Decimal(10, 2)), CAST(N'2026-06-24T15:41:09.337' AS DateTime))
INSERT [dbo].[SalaryPayment] ([PaymentId], [SalaryId], [PaymentMonth], [PaymentYear], [GrossSalary], [PaidDate]) VALUES (2, 8, 6, 2026, CAST(79851.00 AS Decimal(10, 2)), CAST(N'2026-06-24T16:42:06.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalaryPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryStructure] ON 

INSERT [dbo].[SalaryStructure] ([SalaryId], [StaffId], [BasicSalary], [HRA], [DA], [OtherAllowance]) VALUES (1, 10, CAST(30000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[SalaryStructure] ([SalaryId], [StaffId], [BasicSalary], [HRA], [DA], [OtherAllowance]) VALUES (8, 12, CAST(74389.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)), CAST(34.00 AS Decimal(10, 2)), CAST(5353.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SalaryStructure] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [StaffName], [Role], [Subject], [DateJoined]) VALUES (10, N'lk/', N'Accountant', NULL, CAST(N'2024-07-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Staff] ([StaffId], [StaffName], [Role], [Subject], [DateJoined]) VALUES (11, N'discrete', N'Teacher', N'physics', CAST(N'2009-09-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Staff] ([StaffId], [StaffName], [Role], [Subject], [DateJoined]) VALUES (12, N'dvcbnm', N'Teacher', N'signals and systems', CAST(N'2024-09-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentId], [StudentName], [DateOfBirth], [PresentAddress], [StudentClass], [MobileNumber], [PhotoPath]) VALUES (5, N'feg', CAST(N'2026-05-06T00:00:00.000' AS DateTime), N'gjn', N'10', N'1234567890', NULL)
INSERT [dbo].[Student] ([StudentId], [StudentName], [DateOfBirth], [PresentAddress], [StudentClass], [MobileNumber], [PhotoPath]) VALUES (6, N'uhjn', NULL, N'ckhgbkg,kcygt', N'6', N'9310090973', NULL)
INSERT [dbo].[Student] ([StudentId], [StudentName], [DateOfBirth], [PresentAddress], [StudentClass], [MobileNumber], [PhotoPath]) VALUES (7, N'jofrs', CAST(N'2026-02-28T00:00:00.000' AS DateTime), N'Sahara Hostel, CUSAT, Thrikkakara, Kochi, 682022', N'9', N'5473268756', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([TimetableId], [Class], [DayOfWeek], [PeriodNo], [Subject], [TeacherName], [StartTime], [EndTime]) VALUES (1, N'5th', N'Friday', 1, N'english ', N'englishteacher', CAST(N'08:20:00' AS Time), CAST(N'08:55:00' AS Time))
INSERT [dbo].[Timetable] ([TimetableId], [Class], [DayOfWeek], [PeriodNo], [Subject], [TeacherName], [StartTime], [EndTime]) VALUES (2, N'6th', N'Friday', 1, N'dvumyv', N'teacher6239', CAST(N'08:20:00' AS Time), CAST(N'08:55:00' AS Time))
INSERT [dbo].[Timetable] ([TimetableId], [Class], [DayOfWeek], [PeriodNo], [Subject], [TeacherName], [StartTime], [EndTime]) VALUES (1002, N'9th', N'Wednesday', 5, N'chemistry', N'chemistryteacher', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Timetable] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [PasswordSalt], [Role], [IsActive], [CreatedAt], [LastLogin], [FailedLoginAttempts], [IsLocked], [StudentId]) VALUES (3, N'aditjohn', N'83N+y1q60g91xECnlON0kaRjQBq9w3ioeFaqszziJN8=', N'7+7ijlKLOszcExCtwN06WA==', N'Admin', 1, CAST(N'2026-06-08T17:01:39.827' AS DateTime), CAST(N'2026-06-25T09:31:00.410' AS DateTime), 0, 0, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [PasswordSalt], [Role], [IsActive], [CreatedAt], [LastLogin], [FailedLoginAttempts], [IsLocked], [StudentId]) VALUES (4, N'teacher', N'lzXNuiuT5VDbQMn6IsHv9yhmgAAFRAxdHH8Y70QoSUU=', N'HV6clTJRLmDiyv4MONXNNw==', N'Teacher', 1, CAST(N'2026-06-11T12:09:35.433' AS DateTime), CAST(N'2026-06-24T17:50:18.737' AS DateTime), 0, 0, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [PasswordSalt], [Role], [IsActive], [CreatedAt], [LastLogin], [FailedLoginAttempts], [IsLocked], [StudentId]) VALUES (5, N'accountant', N'u4CkDT49NEJRIphEsjwpKM3iHpqgUKaWUV4d1gLcc+4=', N'nAM2rV+XrLwiRI6w/BUzEA==', N'Accountant', 1, CAST(N'2026-06-11T12:21:12.933' AS DateTime), CAST(N'2026-06-24T17:43:48.087' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Attendance]    Script Date: 25-06-2026 11:21:19 AM ******/
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [UQ_Attendance] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E44D5BB693]    Script Date: 25-06-2026 11:21:19 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BookIssued] ADD  DEFAULT ((0)) FOR [Returned]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notice] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PasswordResetRequest] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[PasswordResetRequest] ADD  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[SalaryPayment] ADD  DEFAULT (getdate()) FOR [PaidDate]
GO
ALTER TABLE [dbo].[SalarySlip] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[SalaryStructure] ADD  DEFAULT ((0)) FOR [HRA]
GO
ALTER TABLE [dbo].[SalaryStructure] ADD  DEFAULT ((0)) FOR [DA]
GO
ALTER TABLE [dbo].[SalaryStructure] ADD  DEFAULT ((0)) FOR [OtherAllowance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[AssignmentSubmission]  WITH CHECK ADD FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignment] ([AssignmentId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[BookIssued]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[BookIssued]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[ExamResult]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[ExamResult]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[FeePayment]  WITH CHECK ADD FOREIGN KEY([FeeId])
REFERENCES [dbo].[FeeStructure] ([FeeId])
GO
ALTER TABLE [dbo].[FeeStructure]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[PasswordResetRequest]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetRequest_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[PasswordResetRequest] CHECK CONSTRAINT [FK_PasswordResetRequest_Users]
GO
ALTER TABLE [dbo].[SalaryPayment]  WITH CHECK ADD FOREIGN KEY([SalaryId])
REFERENCES [dbo].[SalaryStructure] ([SalaryId])
GO
ALTER TABLE [dbo].[SalarySlip]  WITH CHECK ADD FOREIGN KEY([PaymentId])
REFERENCES [dbo].[SalaryPayment] ([PaymentId])
GO
ALTER TABLE [dbo].[SalaryStructure]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Student]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Students]
GO
ALTER TABLE [dbo].[ExamResult]  WITH CHECK ADD  CONSTRAINT [CK_Marks] CHECK  (([MarksObtained]<=[MaxMarks]))
GO
ALTER TABLE [dbo].[ExamResult] CHECK CONSTRAINT [CK_Marks]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_MobileNumber] CHECK  ((NOT [MobileNumber] like '%[^0-9]%' AND len([MobileNumber])=(10)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_MobileNumber]
GO
