<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="StudentDB"
         connectionString="Data Source=ENTAB-110\SQL2019;Initial Catalog=StudentDB;User ID=sa;Password=;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"
             timeout="30"
             slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>

    <httpRuntime maxRequestLength="51200" />

    <compilation debug="true"
                 targetFramework="4.7.2" />

  </system.web>

</configuration>