   body {
        margin: 0;
        font-family: 'Segoe UI', Arial, sans-serif;
        background: #000000;
        color: #2c3e50;
    }

    .dashboard-container {
        max-width: 1000px;
        margin: 60px auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 40px;
        color: #17d50f;
        letter-spacing: 1px;
    }

    .panel {
        background: white;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        overflow: hidden;
        margin-bottom: 25px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .panel:hover {
            transform: translateY(-15px);
            box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        }

    .panel-heading {
        background: linear-gradient(90deg, #74e63f, #000000);
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 15px;
    }

    .panel-body {
        text-align: center;
        padding: 30px;
        font-size: 16px;
    }

    .dashboard-btn {
        display: inline-block;
        padding: 12px 20px;
        margin-top: 15px;
        background: #4facfe; 
        color: black;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        width: 100%;
    }

        .dashboard-btn:hover {
            background: #0077ff;
            transform: scale(1.03);
        }